@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  display: flex;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.buttons, .input {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  margin: 16px;
  gap: 16px;
}

a {
  text-decoration: none;
  color: hsl(0, 1%, 40%);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}